<div class="container">
    <h1>Listado de jugadores</h1>

    <button class="btn btn-info" type="button" [routerLink]="['/jugadores/form']">Listar un jugador</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Equipo</th>
                <th scope="col">Posicion</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let j  of jugadores">
                <th scope="row">{{j.id}}</th>
                <td>{{j.nombre}}</td>
                <td>{{j.apellido}}</td>
                <td>{{j.edad}}</td>
                <td>{{j.equipo}}</td>
                <td>{{j.posicion}}</td>
                <td>
                    <button class="btn btn-primary" type="button" name="button"
                        [routerLink]="['/jugadores/form', j.id]">Modificar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="borrar(j)">Eliminar</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>